@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, Courier, monospace;
  background-color: #ded9d9;
}

.note {
  position: relative;
  display: block;
  color: #000;
  background-color: #fff;
  border: 1px solid #b6b2b2;
  padding: 2px 1rem;
  border-radius: 10px;
  transition: all 0.3s;
  text-align: start;
  flex: 0 0 auto;
  width: auto;
  height: 150px;
  margin-top: 0;
  overflow: hidden;
}
@media (min-width: 992px) {
  .note {
    height: 180px;
  }
}
.note .pen {
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  right: 2%;
  top: 2%;
  fill: rgba(0, 0, 0, 0.4980392157);
  transition: all 0.3s;
  cursor: pointer;
}
.note .pen:hover {
  fill: rgba(0, 0, 0, 0.737254902);
}
.note .title {
  margin-bottom: 0;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.8823529412);
  font-weight: bold;
}
.note .content {
  font-weight: light;
}
.note:hover {
  box-shadow: 2px 2px 10px gray;
}

.note__list {
  display: grid;
  padding: 1.5rem;
  gap: 10px;
  margin-bottom: 10rem;
}
@media (min-width: 576px) {
  .note__list {
    grid-template-columns: repeat(2, 50%);
    padding: 0 2rem 0 2rem;
  }
}
@media (min-width: 768px) {
  .note__list {
    grid-template-columns: repeat(3, 33.3%);
    padding: 0 3rem 0 3rem;
  }
}
@media (min-width: 992px) {
  .note__list {
    grid-template-columns: repeat(4, 25%);
    padding: 0 6rem 0 6rem;
  }
}

.note__form {
  display: block;
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  max-width: 500px;
  margin: 3rem;
  margin-top: 10px;
}
.note__form .title {
  font-weight: bold;
  font-size: medium;
  color: rgba(0, 0, 0, 0.8823529412);
}
.note__form .content {
  font-weight: normal;
  font-size: large;
}
.note__form .title,
.note__form .content {
  outline: none;
  border: 0;
  width: 100%;
  padding-bottom: 5px;
  resize: none;
}
.note__form .title.invalid::-moz-placeholder, .note__form .content.invalid::-moz-placeholder {
  color: red;
}
.note__form .title.invalid:-ms-input-placeholder, .note__form .content.invalid:-ms-input-placeholder {
  color: red;
}
.note__form .title.invalid::placeholder,
.note__form .content.invalid::placeholder {
  color: red;
}
@media (min-width: 576px) {
  .note__form .title,
.note__form .content {
    font-size: large;
  }
}
.note__form .btn {
  display: flex;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  right: 3%;
  bottom: -8%;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: dodgerblue;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.note__form .btn:hover {
  background-color: #2473c2;
}
.note__form .btn:disabled {
  opacity: 0.75;
}
.note__form .btn:disabled:hover {
  background-color: dodgerblue;
  cursor: not-allowed;
}
@media (min-width: 576px) {
  .note__form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: dodgerblue;
}

.page__content {
  color: gray;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}
.header * {
  width: 50px;
  height: 50px;
}
.header .plus {
  width: auto;
  margin: 13px;
  font-size: 20px;
  color: #35495e;
}

.text__error {
  display: inline-block;
  font-size: 14px;
  font-weight: light;
  margin: 0;
  padding: 2px;
  color: red;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  -webkit-animation: slide-down 300ms ease-out forwards;
          animation: slide-down 300ms ease-out forwards;
}
@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.edit__form .title {
  font-weight: bold;
}
.edit__form .title,
.edit__form .content {
  font-size: larger;
  outline: none;
  border: 0;
  width: 100%;
  padding-bottom: 5px;
  resize: none;
}
.edit__form .btns__container {
  display: flex;
  justify-content: space-between;
}
.edit__form .btns__container .btn__delete {
  width: 2rem;
  height: 2rem;
  fill: #999;
  background-color: rgba(153, 153, 153, 0.2901960784);
  border: 0;
  font-size: medium;
  border-radius: 6px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.edit__form .btns__container .btn__delete:hover {
  background-color: rgba(153, 153, 153, 0.4549019608);
  fill: rgba(255, 0, 0, 0.7568627451);
}
.edit__form .btns__container .btn__edit {
  background-color: rgba(153, 153, 153, 0.2901960784);
  border: 0;
  font-size: medium;
  border-radius: 6px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.edit__form .btns__container .btn__edit:hover {
  background-color: rgba(153, 153, 153, 0.4549019608);
}/*# sourceMappingURL=index.css.map */